<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Blockbuster</title>
    <link rel="stylesheet" href="../css/buscarProductos.css">
    
</head>
<body>
    
    <%- include('partials/header') %>  
<main>

    <form class="form-BuscarProductos" action="/products/buscarProductos" method="get">
        <!-- <h2 class="texto">Buscar Peliculas</h2> -->
        <input class="input-buscador" type="search" name="filtrar" placeholder="Buscar Peliculas" id="">
        <input  class="botonBuscar" type="submit" value="Buscar">
        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
    </form>

    <section class="section-card">
    <% peliculasFiltradas.forEach(element => { %>

        <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
        <article class="card">
            <img class="img-pelicula" src="<%= element.imagen %> ">
            <h2 class="btn-neon"><%= element.titulo %></h2>
            <!-- <h3 class="texto"><%= element.descripcion %></h3> -->
            <!-- <h3 class="texto"><%= element.precio %></h3> -->
            
        </article>
    </a>
    <% }); %> 
    </section>

    <%- include('partials/footer') %> 
</main>
</body>
</html>