<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Carrito</title>
    <link href="../css/detalle-producto.css" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/styles-carrito.css">
</head>
<body>
    <%- include('partials/header') %> 
    
    <main>

    <div class="ofertasYcards">
        <section class="compras-ofertas">
            <h1 class="titulo">Carrito On Line</h1>
            <ul>
                <li class="item-oferta">Alquilar 1 Pelicula con 5% descuento</li>
                <li class="item-oferta">Alquilar 5 Peliculas con 10% descuento</li>
                <li class="item-oferta">Alquilar 10 Peliculas con 20% descuento</li>
                <li class="item-oferta">Alquilar 20 Peliculas con 30% descuento</li>
            </ul>
        </section>

        <section class="section-cards">
            <% listaPeliculas.forEach(element => { %>
        
                
        
                <article class="card">
                    <div>
                        <img class="img-pelicula" src="<%= element.imagen %> ">
                        <h2 class="tituloPeli texto"><%= element.titulo %></h2>
                        <h3 class="texto"><%= element.precio %></h3>
                    </div>
                    <!-- <a href="/carrito/<%= element.id %> " class="botonFormBusc">Comprar</a>
                    <a href="/products/productDetail?id=<%= element.id %> " class="botonFormBusc">Quitar</a> -->
                    <div class="iconos-nav">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                </article>
            <% }); %> 
        </section>

    </div>


        <h2 class="titulo">
            <%= listaPeliculas[id-1].titulo %> 
        </h2>

        <section class="xxxx">

            <div class="bloque1">
                <div class="div-imagen">
                    <img class="imagen" src="<%= listaPeliculas[id-1].imagen%> ">
                </div>
                <div class="caracteristicas">
                    <p>Idioma: <%= listaPeliculas[id-1].idioma%></p>
                    <p>Duracion: <%= listaPeliculas[id-1].duracion%></p>
                    <p>Año: <%= listaPeliculas[id-1].año%></p>
                    <p>Genero: <%= listaPeliculas[id-1].genero%></p>
                </div>
            </div>

            <div class="bloque2">
                
                <div class="sinopsis">
                    <%= listaPeliculas[id-1].descripcion %>
                </div>
                <iframe class="trailer" width="100%" height="350" src="<%= listaPeliculas[id-1].trailer %> " title="YouTube video player" frameborder="0" ></iframe>
               
                <div class="div-precios"><h3>Precio Alquiler <%= listaPeliculas[id-1].precio%></h3> <h3>Precio Compra <%= listaPeliculas[id-1].precio%></h3></div>
               
                    <div class="botones">
                    <!-- <div class="boton trailer">
                        <a href="#">Ver trailer</a>
                    </div> -->
                    <!-- <div class="boton alquiler">
                        <a href="/carrito/<%= listaPeliculas[id-1].id%>">Alquilar/Ver</a>   
                    </div> -->
                    <article class="middle-menu">
                        <form action="/products/misAlquileres" method="GET">
                            <div class="buttons">
                                <button type="submit" class="btn">Pagar</button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>

            <div class="bloque3">
                <div class="calificaciones">
                    <ul></a>
                        <li><a class="botonNav" href="/carrito/<%= anterior %> "> <= Anterior </a>    <a class="botonNav" href="/carrito/<%= siguiente %>"> Siguiente =></a></li>
                        <li><a href="#">Calificación Blockbuster</a><div class="calificacion"><%= listaPeliculas[id-1].CalificacionBlockbuster %></div></li>
                        <li><a href="#">Calificación IMDb</a> <div class="calificacion"><%= listaPeliculas[id-1].CalificacionIMDb %></div></li>
                        <li><a href="#">Calificación Rotten Tomatoes </a><div class="calificacion"><%= listaPeliculas[id-1].CalificacionRottenTomatoes %></div></li>
                    </ul>
                </div>
            </div>

        </section>
    </main>

    <!-- <main class="main-body">

        <article class="product-container">
            <div class="product">
                <div class="product-image">
                    <img src="/images/star-wars.jpg">
                    <i class="fa-solid fa-trash-can"></i> tacho
                </div>
                <i class="fa-solid fa-ellipsis"></i> 
            </div>
            <div class="details">
                <h4>Pelicula/Serie</h4>
                <p>Reseña/sinopsis</p>
                <h6>Año y duracion</h6>
            </div>
        </article>

        <article class="middle-menu">
            <form action="/products/misAlquileres" method="GET">
                <div class="buttons">
                    <button type="submit" class="btn">Pagar</button>
                </div>
            </form>
        </article>
    </main> -->
    
    <%- include('partials/footer') %> 
</body>
</html>
