<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Carrito</title>
    <link href="../css/detalle-producto.css" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/styles-carrito.css">
</head>
<body>
    <%- include('partials/header') %> 
    
    <main>

    <div class="ofertasYcards">
        <section class="compras-ofertas">
            <h1 class="titulo">Carrito On Line</h1>
            <ul>
                <li class="item-oferta">Alquilar Pelicula/s por 24hs con 5% descuento  <br>Precio total con el descuento: $<%= menos5porciento %> Ars.</li>
                <li class="item-oferta">Alquilar Pelicula/s por 48hs con 10% descuento  <br>Precio total con el descuento: $<%= menos10porciento %> Ars.</li>
                <li class="item-oferta">Alquilar Pelicula/s por 72hs con 20% descuento  <br>Precio total con el descuento: $<%= menos20porciento %> Ars.</li>
                <li class="item-oferta">Alquilar Pelicula/s por 10 dias con 30% descuento  <br>Precio total con el descuento: $<%= menos30porciento %> Ars.</li>
            </ul>
        </section>

        <section class="section-cards">
            <% cartList.forEach(element => { %>
        
                
        
                <article class="card">
                    <div>
                        <img class="img-pelicula" src="<%= element.image_url %> ">
                        <h2 class="tituloPeli texto"><%= element.title %></h2>
                        <h3 class="texto">$<%= element.price %></h3>
                    </div>
                    <!-- <a href="/carrito/<%= element.id %> " class="botonFormBusc">Comprar</a>
                    <a href="/products/productDetail?id=<%= element.id %> " class="botonFormBusc">Quitar</a> -->
                    <div class="iconos-nav">
                        <li class="QuitarDelCarrito"><form action="/users/cart/delete/<%= user.id %>/<%= element.id %>/" method="post"><button type="submit" class="boton"><i class="fa-regular fa-trash-can"></i></button></form></li>

                        <!-- <i class="fa-solid fa-dollar-sign"></i> -->
                    </div>
                </article>
            <% }); %> 
        </section>

        <section class="section-cards" style="display: none;">
            <% listaPeliculas.forEach(element => { %>
        
                
        
                <article class="card">
                    <div>
                        <img class="img-pelicula" src="<%= element.imagen %> ">
                        <h2 class="tituloPeli texto"><%= element.titulo %></h2>
                        <h3 class="texto"><%= element.precio %></h3>
                    </div>
                    <!-- <a href="/carrito/<%= element.id %> " class="botonFormBusc">Comprar</a>
                    <a href="/products/productDetail?id=<%= element.id %> " class="botonFormBusc">Quitar</a> -->
                    <div class="iconos-nav">

                        <i class="fa-solid fa-dollar-sign"></i>
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                </article>
            <% }); %> 
        </section>

    </div>


        <h2 class="titulo">
            <%= movie.title %> 
        </h2>

        <section class="xxxx">

            
            <div class="bloque1">
                <div class="div-imagen">
                    <img class="imagen" src="<%= movie.image_url%> ">
                </div>
                <div class="caracteristicas">
                    <p>Idioma/s: <ul><% movie.languages.forEach(element => { %>
                     <li><%= element.language %> </li>
                    <% }) %></ul></p>

                    <p>Duracion: <%= movie.length %></p>
                    <p>Año: <%= movie.release_year %></p>
                    <p>Generos: <ul><% movie.genres.forEach(element => { %>
                        <li><%= element.genre %> </li>
                       <% }) %></ul></p>
                </div>
            </div>

            <div class="bloque2">
                
                <div class="sinopsis">
                    <%= movie.description %>
                </div>
                <iframe class="trailer" width="100%" height="350" src="<%= movie.trailer %> " title="YouTube video player" frameborder="0" ></iframe>
               
                <div class="div-precios"><h3>Precio Alquiler <%= movie.price%></h3> <h3>Precio Compra <%= movie.price%></h3></div>
               
                    <div class="botones">
                    <!-- <div class="boton trailer">
                        <a href="#">Ver trailer</a>
                    </div> -->
                    <!-- <div class="boton alquiler">
                        <a href="/carrito/...">Alquilar/Ver</a>   
                    </div> -->
                    <article class="middle-menu">
                        <form action="/products/misAlquileres" method="POST">
                            <div class="buttons">
                                <button type="submit" class="btn">Pagar (este no...)</button>
                                
                            </div>
                        </form>
                    </article>
                </div>
                        
                        <li><form action="/users/rental/add/<%= user.id %>/<%= id %>/" method="post"><input class="botonNav" type="submit" value="ALQUILAR!!!"></form></li>
                        <li><form action="/users/rental/delete/<%= user.id %>/<%= id %>/" method="post"><input class="botonNav" type="submit" value="DEVOLVER!!!"></form></li>
                    
            </div>

            <div class="bloque3">
                <div class="calificaciones">
                    <ul></a>
                        <li><a class="botonNav" href="/carrito/<%= anterior %> "> <= Anterior </a>    <a class="botonNav" href="/carrito/<%= siguiente %>"> Siguiente =></a></li>
                        <li><a href="#">Calificación Blockbuster</a><div class="calificacion"><%= movie.blockbuster_rating %></div></li>
                        <li><a href="#">Calificación IMDb</a> <div class="calificacion"><%= movie.imdb_rating %></div></li>
                        <li><a href="#">Calificación Rotten Tomatoes </a><div class="calificacion"><%= movie.rotten_tomatoes_rating %></div></li>
                    </ul>
                </div>
            </div>

        </section>
    </main>

    <!-- <main class="main-body">

        <article class="product-container">
            <div class="product">
                <div class="product-image">
                    <img src="/images/star-wars.jpg">
                    <i class="fa-solid fa-trash-can"></i> tacho
                </div>
                <i class="fa-solid fa-ellipsis"></i> 
            </div>
            <div class="details">
                <h4>Pelicula/Serie</h4>
                <p>Reseña/sinopsis</p>
                <h6>Año y duracion</h6>
            </div>
        </article>

        <article class="middle-menu">
            <form action="/products/misAlquileres" method="GET">
                <div class="buttons">
                    <button type="submit" class="btn">Pagar</button>
                </div>
            </form>
        </article>
    </main> -->
    
    <%- include('partials/footer') %> 
</body>
</html>
