<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Carrito</title>
    <link href="../css/detalle-producto.css" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/styles-carrito.css">
</head>
<body>
    <%- include('partials/header') %> 
    
    <main>

    <div class="ofertasYcards">
        <section class="compras-ofertas">
            <h1 class="titulo">Carrito Online</h1>
            
        </section>

        <section class="section-cards">
            <% cartList.forEach(element => { %>
        
                
        
                <article class="card" style="background-color:rgba(195, 180, 180, 0.3)">
                    <div>
                        <img class="img-pelicula" src="<%= element.image_url %> ">
                        <h2 class="tituloPeli texto"><%= element.title %></h2>
                        <h3 class="texto">$<%= element.price %></h3>
                    </div>
                    <!-- <a href="/carrito/<%= element.id %> " class="botonFormBusc">Comprar</a>
                    <a href="/products/productDetail?id=<%= element.id %> " class="botonFormBusc">Quitar</a> -->
                    <div class="iconos-nav">
                        <li><form action="/users/rental/add/<%= user.id %>/<%= element.id %>/" method="post"><input type="hidden" name="dias" value="0"><button type="submit" class="boton"><i class="fa-solid fa-dollar-sign"></i></button></form></li>
                        <li class="QuitarDelCarrito"><form action="/users/cart/delete/<%= user.id %>/<%= element.id %>/" method="post"><button type="submit" class="boton"><i class="fa-regular fa-trash-can"></i></button></form></li>

                        <!-- <i class="fa-solid fa-dollar-sign"></i> -->
                    </div>
                </article>
            <% }); %>     
        </section>

        <% if(cartList.length > 1) {  %>
        <section class="compras-ofertas">
            <ul>
                <form action="/users/rental/add/<%= user.id %>/<%= idList %>/" method="post"><input type="hidden" name="dias" value="0"><button type="submit" class="boton">
                <li class="item-oferta">Alquilar Peliculas con 10% descuento  <br>Precio total con el descuento: $<%= menos10porciento %> Ars.</li>
            </button></form>  
            </ul>
        </section>
        <% } %>
    </div>
    
    <div class="navbar fixed-bottom"><%- include('partials/footer') %> </div>
</body>
</html>
