<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="../css/styles-editarproducs.css">
    <title>Blockbuster</title>

</head>
<body>
    <%- include('partials/header') %>  

<main>
    
    


    <main class="all-form">
        <!-- register form -->
        <!-- <div class="center"></div> -->
        <h1 class="tituloPag">Subir Nueva Pelicula</h1>

        <form class="form-ingreso-peli" action="/products/guardarNuevoProducto" method="POST">
            <div class="txt_field">
                <input type="text" name="titulo" >
                <span></span>
                <label> Nombre de pelicula:</label>
            </div>

            
            <div class="txt_field">
                <input type="text" name="duracion">
                <span></span>
                <label>Duracion</label>
            </div>
            <div class="txt_field">
                <input type="text" name="release_year" >
                <span></span>
                <label>Año</label>
            </div>
            <!-- <div class="txt_field">
                <input type="text" name="origen">
                <span></span>
                <label>Origen</label>
            </div> -->
            <div class="txt_field">
                <input type="text" name="precio" >
                <span></span>
                <label>Precio</label>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionBlockbuster" >
                <span></span>
                <label>Calificacion Blockbuster</label>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionIMDb">
                <span></span>
                <label>Calificacion IMDb</label>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionRottenTomatoes" >
                <span></span>
                <label>Calificacion Rotten Tomatoes</label>
            </div>
 
            <!-- <div class="txt_field">
                <input type="text" name="descripcion">
                <span></span>
                <label>Descripcion</label>
            </div> -->
            <div class="txt_field" >
                <input type="text" name="imagen">
                <span></span>
                <label>URL imagen</label>
            </div>
            <div class="txt_field">
                <input type="text" name="trailer" >
                <span></span>
                <label>URL Trailer</label>
            </div>

            <article>
                <div class="text-area">
                    <h5>Descripcion</h5>
                    <textarea name="descripcion" cols="50" rows="5" placeholder="En los caminos hacia el bosque..."></textarea>
                </div>
            </article>
            <!-- <div class="txt_field">
 
            <select class="select" name="genero" id="">
                <option value="">Seleccionar</option>
                <option value="Dramatico">Dramatico</option>
                <option value="Ficcion">Ficcion</option>
                <option value="Comedia">Comedia</option>
                <option value="Romantica">Romantica</option>
                <option value="Accion">Accion</option>
                <option value="Suspenso">Suspenso</option>
                <option value="Terror">Terror</option>
            </select>

            <span></span>
            <label>Genero</label>
        </div> -->

        <!-- <div class="txt_field">
 
            <select class="select" name="idioma" id="">
                <option value="">Seleccionar</option>
                <option value="Español">Español</option>
                <option value="English">English</option>
                <option value="Portugues">Portugues</option>
                
            </select>

            <input type="text" >
            <span></span>
            <label>Idioma</label>
        </div> -->


        <div class="lista-check">
            <h5>Generos</h5>
            <% Genres.forEach(element => { %>
                <div>
                    <input type="checkbox" name="genres" id="<%= element.id %>" value="<%= element.id %>">
             <label for="<%= element.id %>"><%= element.genre %> </label>
            </div>
            <% }) %>
        </div>
        <div class="lista-check">
            <h5>Idiomas</h5>
            <% Languages.forEach(element => { %>
                <div>
                    <input type="checkbox" name="languages" id="<%= element.language %>" value="<%= element.id %>">
             <label for="<%= element.language %>"><%= element.language %> </label>
            </div>
            <% }) %>
        </div>
        
        

          
          


            <!-- on/off -->
            <div class="switch-holder">
                <div class="switch-label">
                    <span>Activa</span>
                </div>
                <div class="switch-toggle">
                    <input type="checkbox" name="is_active" value="1" id="bluetooth">
                    <label for="bluetooth"></label>
                </div>
            </div>

            <div class="image-upload">
                <label for="file-input" class="div-subir-foto">
                    <p>Subir foto</p>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </label>
                <input id="file-input" type="file" />
            </div>

            
            
            <input class="pass" type="submit" value="Subir Pelicula" >
            

            <div class="signup_link">
                <a href="/products/administrarProductos">Administrar peliculas</a>
            </div>


        </form>





</main>




    <%- include('partials/footer') %> 

</body>
</html>