<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="../css/styles-editarproducs.css">
    <title>Blockbuster</title>

</head>
<body>
    <%- include('partials/header') %>  

<main>
    <form action="" method="post">

    </form>
    


    <main class="all-form">
        <!-- register form -->
        <!-- <div class="center"></div> -->
        <h1 class="tituloPag">Editando Pelicula ID: <%= idProducto %></h1>

        <form class="form-ingreso-peli" action="/products/editarProducto?_method=PUT" method="POST">

            <input class="input-id" type="text" name="id" value="<%= idProducto %>"> <!-- input oculto para q llegue en el body! -->

            <div class="txt_field">
                <input type="text" name="titulo" value="<%= MovieToEdit.title %>"  placeholder="<%= MovieToEdit.title %>"  >
                <span></span>
                <label> Nombre de la pelicula</label>
            </div>

           
            <div class="txt_field">
                <input type="text" name="duracion"  value="<%= MovieToEdit.length %>" placeholder="<%= MovieToEdit.length %>">
                <span></span>
                <label>Duracion</label>
            </div>
            <div class="txt_field">
                <input type="text" name="anio"  value="<%= MovieToEdit.release_year %>" placeholder="<%= MovieToEdit.release_year %>">
                <span></span>
                <label>Año</label>
            </div>
            <!-- <div class="txt_field">
                <input type="text" name="origen"  value="<%= listaPeliculas[idProducto-1].origen %>" placeholder="<%= listaPeliculas[idProducto-1].origen %>" >
                <span></span>
                <label>Origen</label>
            </div> -->
            <div class="txt_field">
                <input type="text" name="precio"  value="<%= MovieToEdit.price %>" placeholder="<%= MovieToEdit.price %>">
                <span></span>
                <label>Precio</label>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionBlockbuster" value="<%= MovieToEdit.blockbuster_rating %>"  placeholder="<%= MovieToEdit.blockbuster_rating %>" >
                <span></span>
                <label>Calificacion Blockbuster</label>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionIMDb" value="<%= MovieToEdit.imdb_rating %>"  placeholder="<%= MovieToEdit.imdb_rating %>">
                <span></span>
                <label>Calificacion IMDb</label>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionRottenTomatoes" value="<%= MovieToEdit.rotten_tomatoes_rating %>"  placeholder="<%= MovieToEdit.rotten_tomatoes_rating %>">
                <span></span>
                <label>Calificacion Rotten Tomatoes</label>
            </div>
 

            <!-- <div class="txt_field">
                <input type="text" name="descripcion"  value="<%= MovieToEdit.description %>" placeholder="<%= MovieToEdit.description %>" >
                <span></span>
                <label>Descripcion</label>
            </div> -->
            <div class="txt_field">
                <input type="text" name="imagen"  value="<%= MovieToEdit.image_url %>" placeholder="<%= MovieToEdit.image_url %> ">
                <span></span>
                <label>URL imagen</label>
            </div>
            <div class="txt_field">
                <input type="text" name="trailer"  value="<%= MovieToEdit.trailer %>"  placeholder="<%= MovieToEdit.trailer %>">
                <span></span>
                <label>URL Trailer</label>
            </div>
 
            <article>
            <div class="text-area">
                <h5>Descripcion</h5>
                <textarea name="descripcion" cols="50" rows="5" placeholder="<%= MovieToEdit.description %>"><%= MovieToEdit.description %></textarea>
            </div>
        </article>
            <!-- <div class="txt_field">
 
            <select class="select" name="genero" id="">
                <option value="" <%= listaPeliculas[idProducto-1].genero == "" ?  "selected" : null %>  >Seleccionar</option>
                <option value="Dramatico" <%= listaPeliculas[idProducto-1].genero == "Dramatico" ?  "selected" : null %> >Dramatico</option>
                <option value="Ficcion"  <%= listaPeliculas[idProducto-1].genero == "Ficcion" ?  "selected" : null %>  >Ficcion</option>
                <option value="Comedia" <%= listaPeliculas[idProducto-1].genero == "Comedia" ?  "selected" : null %> >Comedia</option>
                <option value="Romantica" <%= listaPeliculas[idProducto-1].genero == "Romantica" ?  "selected" : null %> >Romantica</option>
                <option value="Accion" <%= listaPeliculas[idProducto-1].genero == "Accion" ?  "selected" : null %> >Accion</option>
                <option value="Suspenso" <%= listaPeliculas[idProducto-1].genero == "Suspenso" ?  "selected" : null %> >Suspenso</option>
                <option value="Terror" <%= listaPeliculas[idProducto-1].genero == "Terror" ?  "selected" : null %> >Terror</option>
            </select>

            <span></span>
            <label>Genero</label>
        </div>

        <div class="txt_field">
 
            <select class="select" name="idioma" id="idioma">
                <option value="">Seleccionar</option>
                <option value="Español"  <%= listaPeliculas[idProducto-1].idioma == "Español" ?  "selected" : null %> >Español</option>
                <option value="English"  <%= listaPeliculas[idProducto-1].idioma == "English" ?  "selected" : null %> >English</option>
                <option value="Portugues"  <%= listaPeliculas[idProducto-1].idioma == "Portugues" ?  "selected" : null %> >Portugues</option>
                
            </select>

            <span></span>
            <label for="idioma">Idioma</label>
        </div> -->



        <!-- <div>
        <label class="label-calificacion">Calificacion Blockbuster</label>
        <form class="form-estrellas">
            <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas1" value="5">
                <label class="label-estrella" for="radio1">★</label>
                <input id="radio2" type="radio" name="estrellas1" value="4">
                <label class="label-estrella" for="radio2">★</label>
                <input id="radio3" type="radio" name="estrellas1" value="3">
                <label class="label-estrella" for="radio3">★</label>
                <input id="radio4" type="radio" name="estrellas1" value="2">
                <label class="label-estrella" for="radio4">★</label>
                <input id="radio5" type="radio" name="estrellas1" value="1">
                <label class="label-estrella" for="radio5">★</label>
                
            </p>
        </form>
    </div> -->

    <div class="lista-check">
        <h5>Generos</h5>
        <% Genres.forEach(element => { %>
            <div>
                <input type="checkbox" name="genres" id="<%= element.id %>" value="<%= element.id %>" 
                <% if ( MovieToEdit.genres.length > 0) { %>
                 <% MovieToEdit.genres.forEach(genero => { %>
                  <%= genero.id == element.id ? 'checked' : null %> 
                 <% }) %>
                <% } %>
                >

         <label for="<%= element.id %>"><%= element.genre %> </label>
        </div>
        <% }) %>
    </div>
    <div class="lista-check">
        <h5>Idiomas</h5>
        <% Languages.forEach(element => { %>
            <div>
                <input type="checkbox" name="languages" id="<%= element.language %>" value="<%= element.id %>"
                <% if ( MovieToEdit.languages.length > 0) { %>
                    <% MovieToEdit.languages.forEach(idioma => { %>
                     <%= idioma.id == element.id ? 'checked' : null %> 
                    <% }) %>
                   <% } %>
                >
         <label for="<%= element.language %>"><%= element.language %> </label>
        </div>
        <% }) %>
    </div>
    
          


            <!-- on/off -->
            <div class="switch-holder">
                <div class="switch-label">
                    <span>Activa</span>
                </div>
                <div class="switch-toggle">
                    <input type="checkbox" id="bluetooth" name="is_active" value="1" <%= MovieToEdit.is_active == 1 ? 'checked' : null %> >
                    <label for="bluetooth"></label>
                </div>
            </div>

            <div class="image-upload">
                <label for="file-input" class="div-subir-foto">
                    <p>Subir foto</p>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </label>
                <input id="file-input" type="file" />
            </div>

            
            <input class="pass" type="submit" value="Guardar">
        
            <div class="signup_link">
                <a href="/products/crearNuevoProducto">Crear nueva pelicula</a>
            </div>


        </form>





</main>




    <%- include('partials/footer') %> 

</body>
</html>