<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/../css/styles-editarproducs.css">
    <title>Blockbuster</title>

</head>
<body>
    <%- include('partials/header') %>  

<main>
    <form action="" method="post">

    </form>
    


    <main class="all-form">
        <!-- register form -->
        <!-- <div class="center"></div> -->
        <h1 class="tituloPag">Editando Pelicula ID: <%= idProducto %></h1>

        <form class="form-ingreso-peli" action="/products/editarProducto/?_method=PUT&&id=<%= idProducto %>" method="POST">

            <input class="input-id" type="text" name="id" value="<%= idProducto %>"> <!-- input oculto para q llegue en el body! -->
            <!-- on/off -->
            <div class="switch-holder">
                <div class="switch-label">
                    <span>Activa</span>
                </div>
                <div class="switch-toggle">
                    <input type="checkbox" id="bluetooth" name="is_active" value="1" <%= MovieToEdit.is_active == 1 ? 'checked' : null %> >
                    <label for="bluetooth"></label>
                </div>
            </div>

            <div class="flex-wrap">
                <section>             <!-- separado en dos secciones -->
            <div class="txt_field">
                <input type="text" name="titulo" class="titulo" value="<%= MovieToEdit.title %>"  placeholder="<%= MovieToEdit.title %>"  >
                <label> Nombre de la pelicula</label>
                <span class="error_titulo" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.titulo) { %>
                        <%= errors.titulo.msg %></p>
                    <% } %>
                </span>
            </div>

           
            <div class="txt_field">
                <input type="text" name="duracion" class="duracion" value="<%= MovieToEdit.length %>" placeholder="<%= MovieToEdit.length %>">
                <label>Duracion</label>
                <span class="error_duracion" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.duracion) { %>
                        <%= errors.duracion.msg %></p>
                    <% } %>
                </span>
            </div>
            <div class="txt_field">
                <input type="text" name="release_year" class="release_year"  value="<%= MovieToEdit.release_year %>" placeholder="<%= MovieToEdit.release_year %>">
                <label>Año</label>
                <span class="error_release_year" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.release_year) { %>
                        <%= errors.release_year.msg %></p>
                    <% } %>
                </span>
            </div>
           
            <div class="txt_field">
                <input type="text" name="precio" class="precio" value="<%= MovieToEdit.price %>" placeholder="<%= MovieToEdit.price %>">
                <label>Precio</label>
                <span class="error_precio" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.precio) { %>
                        <%= errors.precio.msg %></p>
                    <% } %>
                </span>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionBlockbuster" class="CalificacionBlockbuster" value="<%= MovieToEdit.blockbuster_rating %>"  placeholder="<%= MovieToEdit.blockbuster_rating %>" >
                <label>Calificacion Blockbuster</label>
                <span class="error_CalificacionBlockbuster" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.CalificacionBlockbuster) { %>
                        <%= errors.CalificacionBlockbuster.msg %></p>
                    <% } %>
                </span>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionIMDb" class="CalificacionIMDb" value="<%= MovieToEdit.imdb_rating %>"  placeholder="<%= MovieToEdit.imdb_rating %>">
                <label>Calificacion IMDb</label>
                <span class="error_CalificacionIMDb" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.CalificacionIMDb) { %>
                        <%= errors.CalificacionIMDb.msg %></p>
                    <% } %>
                </span>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionRottenTomatoes" class="CalificacionRottenTomatoes" value="<%= MovieToEdit.rotten_tomatoes_rating %>"  placeholder="<%= MovieToEdit.rotten_tomatoes_rating %>">
                <label>Calificacion Rotten Tomatoes</label>
                <span class="error_CalificacionRottenTomatoes" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.CalificacionRottenTomatoes) { %>
                        <%= errors.CalificacionRottenTomatoes.msg %></p>
                    <% } %>
                </span>
            </div>
 

           
            <div class="txt_field">
                <input type="text" name="imagen" class="urlImage" value="<%= MovieToEdit.image_url %>" placeholder="<%= MovieToEdit.image_url %> ">
                <label>URL imagen</label>
                <span class="error_urlImage" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.imagen) { %>
                        <%= errors.imagen.msg %></p>
                    <% } %>
                </span>
            </div>
            <div class="txt_field">
                <input type="text" name="trailer" class="trailer" value="<%= MovieToEdit.trailer %>"  placeholder="<%= MovieToEdit.trailer %>">
                <label>URL Trailer</label>
                <span class="error_trailer" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.trailer) { %>
                        <%= errors.trailer.msg %></p>
                    <% } %>
                </span>
            </div>
            <div class="image-upload">
                <label for="file-input" class="div-subir-foto">
                    <p>Subir foto</p>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </label>
                <input id="file-input" type="file"  name="imageMovie" class="imageMovie"/>
                <span class="error_imageMovie" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.imageMovie) { %>
                        <%= errors.imageMovie.msg %></p>
                    <% } %>
                </span>
            </div>

        </section>

        <section>             <!-- separado en dos secciones -->
            <article>
            <div class="text-area">
                <h5>Descripcion</h5>
                <textarea name="descripcion" class="descripcion" cols="40" rows="8" placeholder="<%= MovieToEdit.description %>"><%= MovieToEdit.description %></textarea>
                <span class="error_descripcion" style="color: rgb(255, 149, 0);">
                    <% if (locals.errors && errors.descripcion) { %>
                        <%= errors.descripcion.msg %></p>
                    <% } %>
                </span>
            </div>
        </article>
            
        <div class="flex-wrap">
    <div class="lista-check">
        <h5>Generos</h5>
        <% Genres.forEach(element => { %>
            <div>
                <input type="checkbox" name="genres" id="<%= element.id %>" value="<%= element.id %>" 
                <% if ( MovieToEdit.genres.length > 0) { %>
                 <% MovieToEdit.genres.forEach(genero => { %>
                  <%= genero.id == element.id ? 'checked' : null %> 
                 <% }) %>
                <% } %>
                >

         <label for="<%= element.id %>"><%= element.genre %> </label>
        </div>
        <% }) %>
    </div>
    <div class="lista-check">
        <h5>Idiomas</h5>
        <% Languages.forEach(element => { %>
            <div>
                <input type="checkbox" name="languages" id="<%= element.language %>" value="<%= element.id %>"
                <% if ( MovieToEdit.languages.length > 0) { %>
                    <% MovieToEdit.languages.forEach(idioma => { %>
                     <%= idioma.id == element.id ? 'checked' : null %> 
                    <% }) %>
                   <% } %>
                >
         <label for="<%= element.language %>"><%= element.language %> </label>
        </div>
        <% }) %>
    </div>
</div> <!--fin div flex-wrap -->

        </section>

        </div> <!--fin div flex-wrap -->
            
            <input class="pass" type="submit" value="Guardar">
        
            <div class="signup_link">
                <a href="/products/crearNuevoProducto">Crear nueva pelicula</a>
            </div>


        </form>





</main>




    <%- include('partials/footer') %> 
    <script src="/js/validateCrudMovie.js" type="text/javascript"></script>

</body>
</html>
