<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/../css/styles-editarproducs.css">
    <title>Blockbuster</title>

</head>
<body>
    <%- include('partials/header') %>  

<main>
    <form action="" method="post">

    </form>
    


    <main class="all-form">
        <!-- register form -->
        <!-- <div class="center"></div> -->
        <h1 class="tituloPag">Editando Pelicula ID: <%= idProducto %></h1>

        <form class="form-ingreso-peli" action="/products/editarProducto/?_method=PUT&&id=<%= idProducto %>" method="POST">

            <input class="input-id" type="text" name="id" value="<%= idProducto %>"> <!-- input oculto para q llegue en el body! -->

            <div class="txt_field">
                <input type="text" name="titulo" value="<%= MovieToEdit.title %>"  placeholder="<%= MovieToEdit.title %>"  >
                <span></span>
                <label> Nombre de la pelicula</label>
                <% if (locals.errors && errors.titulo) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.titulo.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>

           
            <div class="txt_field">
                <input type="text" name="duracion"  value="<%= MovieToEdit.length %>" placeholder="<%= MovieToEdit.length %>">
                <span></span>
                <label>Duracion</label>
                <% if (locals.errors && errors.duracion) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.duracion.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
            <div class="txt_field">
                <input type="text" name="release_year"  value="<%= MovieToEdit.release_year %>" placeholder="<%= MovieToEdit.release_year %>">
                <span></span>
                <label>Año</label>
                <% if (locals.errors && errors.release_year) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.release_year.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
           
            <div class="txt_field">
                <input type="text" name="precio"  value="<%= MovieToEdit.price %>" placeholder="<%= MovieToEdit.price %>">
                <span></span>
                <label>Precio</label>
                <% if (locals.errors && errors.precio) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.precio.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionBlockbuster" value="<%= MovieToEdit.blockbuster_rating %>"  placeholder="<%= MovieToEdit.blockbuster_rating %>" >
                <span></span>
                <label>Calificacion Blockbuster</label>
                <% if (locals.errors && errors.CalificacionBlockbuster) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.CalificacionBlockbuster.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionIMDb" value="<%= MovieToEdit.imdb_rating %>"  placeholder="<%= MovieToEdit.imdb_rating %>">
                <span></span>
                <label>Calificacion IMDb</label>
                <% if (locals.errors && errors.CalificacionIMDb) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.CalificacionIMDb.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
            <div class="txt_field">
                <input type="text" name="CalificacionRottenTomatoes" value="<%= MovieToEdit.rotten_tomatoes_rating %>"  placeholder="<%= MovieToEdit.rotten_tomatoes_rating %>">
                <span></span>
                <label>Calificacion Rotten Tomatoes</label>
                <% if (locals.errors && errors.CalificacionRottenTomatoes) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.CalificacionRottenTomatoes.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
 

           
            <div class="txt_field">
                <input type="text" name="imagen"  value="<%= MovieToEdit.image_url %>" placeholder="<%= MovieToEdit.image_url %> ">
                <span></span>
                <label>URL imagen</label>
                <% if (locals.errors && errors.imagen) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.imagen.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
            <div class="txt_field">
                <input type="text" name="trailer"  value="<%= MovieToEdit.trailer %>"  placeholder="<%= MovieToEdit.trailer %>">
                <span></span>
                <label>URL Trailer</label>
                <% if (locals.errors && errors.trailer) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.trailer.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
 
            <article>
            <div class="text-area">
                <h5>Descripcion</h5>
                <textarea name="descripcion" cols="50" rows="5" placeholder="<%= MovieToEdit.description %>"><%= MovieToEdit.description %></textarea>
                <% if (locals.errors && errors.descripcion) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.descripcion.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>
        </article>
            



        

    <div class="lista-check">
        <h5>Generos</h5>
        <% Genres.forEach(element => { %>
            <div>
                <input type="checkbox" name="genres" id="<%= element.id %>" value="<%= element.id %>" 
                <% if ( MovieToEdit.genres.length > 0) { %>
                 <% MovieToEdit.genres.forEach(genero => { %>
                  <%= genero.id == element.id ? 'checked' : null %> 
                 <% }) %>
                <% } %>
                >

         <label for="<%= element.id %>"><%= element.genre %> </label>
        </div>
        <% }) %>
    </div>
    <div class="lista-check">
        <h5>Idiomas</h5>
        <% Languages.forEach(element => { %>
            <div>
                <input type="checkbox" name="languages" id="<%= element.language %>" value="<%= element.id %>"
                <% if ( MovieToEdit.languages.length > 0) { %>
                    <% MovieToEdit.languages.forEach(idioma => { %>
                     <%= idioma.id == element.id ? 'checked' : null %> 
                    <% }) %>
                   <% } %>
                >
         <label for="<%= element.language %>"><%= element.language %> </label>
        </div>
        <% }) %>
    </div>
    
          


            <!-- on/off -->
            <div class="switch-holder">
                <div class="switch-label">
                    <span>Activa</span>
                </div>
                <div class="switch-toggle">
                    <input type="checkbox" id="bluetooth" name="is_active" value="1" <%= MovieToEdit.is_active == 1 ? 'checked' : null %> >
                    <label for="bluetooth"></label>
                </div>
            </div>

            <div class="image-upload">
                <label for="file-input" class="div-subir-foto">
                    <p>Subir foto</p>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                </label>
                <input id="file-input" type="file"  name="imageMovie"/>
                <% if (locals.errors && errors.imageMovie) { %>
                    <span style="color: rgb(255, 149, 0);"><%= errors.imageMovie.msg %></span>
                <% }else{ %>
                <span style="color: green;">✓</span>
                <% } %>
            </div>

            
            <input class="pass" type="submit" value="Guardar">
        
            <div class="signup_link">
                <a href="/products/crearNuevoProducto">Crear nueva pelicula</a>
            </div>


        </form>





</main>




    <%- include('partials/footer') %> 

</body>
</html>