<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="css/styles-home.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/header') %>  

    <main>
        <div class="video">

        </div>
        <p class="titulos">Más Buscados</p>
        <section class="articulos">


            <% listaPeliculas.forEach(element => { %>
                <a href="/products/productDetail?id=<%= element.id %>" >
            <article class="articulos2">
            <img class="pelis" src="<%= element.imagen %>"> 
            <div class="caja"><p class="nombre-peli"> <%= element.titulo %> </p>
            <a href="/products/productDetail?id=<%= element.id %>" class="btn-neon">VER MAS</a>
            </div>
            </article>
                </a>
            <% }) %>


            <!-- <article class="articulos2">
                <img class="pelis" src="/images/197.jpg"> 
                <div class="caja"><p class="nombre-peli">1917</p>
                <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                </article>

                <article class="articulos2">
                    <img class="pelis" src="/images/El Guason.jpg"> 
                    <div class="caja"><p class="nombre-peli">El Guason</p>
                    <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                    </article>

                    <article class="articulos2">
                        <img class="pelis" src="/images/LosVengadores.jpg"> 
                        <div class="caja"><p class="nombre-peli">Los Vengadores</p>
                        <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                    </article>

                        <article class="articulos2">
                            <img class="pelis" src="/images/smile.jpg">
                            <div class="caja"><p class="nombre-peli">Smile</p>
                            <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                            </article> -->
            </section>
            <p class="titulos">Buscá por tus personajes favoritos</p>
            <section class="personajes">

                <article>
                    <a href="/productDetail"><img class="personas" src="images/emiliaclarke.png">
                    <p class="nombres">Emilia Clarke</p></a> 
                    </article> 

                    <article>
                        <a href="/productDetail"><img class="personas" src="/images/robertdowneyjr.png">
                            <p class="nombres">Robert Downey JR</p></a>
                            </article>

                            <article>
                                <a href="/productDetail"><img class="personas" src="/images/galgadot.png">
                                <p class="nombres">Gal Gadot</p></a> 
                                </article>

                                <article>
                                    <a href="/productDetail"><img class="personas" src="/images/sheeldoncooper.png">
                                    <p class="nombres">Jim Parsons</p></a>
                                    </article>
    </section>

    <p class="titulos">Recomendados Para Vos</p>
    <section class="articulos">

        <% listaPeliculas.forEach(element => { %>
            <a href="/products/productDetail?id=<%= element.id %>" >
            <article class="articulos2">
            <img class="pelis" src="<%= element.imagen %>"> 
            <div class="caja"><p class="nombre-peli"> <%= element.titulo %> </p>
            <a href="/products/productDetail?id=<%= element.id %>" class="btn-neon">VER MAS</a>
            </div>
            </article>
            </a>
            <% }) %>

        <!-- <article class="articulos2">
            <img class="pelis" src="/images/El Guason.jpg"> 
            <div class="caja"><p class="nombre-peli">El Guason</p>
            <a href="/productDetail" class="btn-neon">VER MAS</a></div>
            </article> 

            <article class="articulos2">
                <img class="pelis" src="/images/197.jpg"> 
                <div class="caja"><p class="nombre-peli">1917</p>
                <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                </article>

                <article class="articulos2">
                    <img class="pelis" src="/images/LosVengadores.jpg"> 
                    <div class="caja"><p class="nombre-peli">Los Vengadores</p>
                    <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                    </article>

                    <article class="articulos2">
                        <img class="pelis" src="/images/MaquinasMortales.jpg">
                        <div class="caja"><p class="nombre-peli">Maquinas Mortales</p>
                        <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                        </article>

                        <article class="articulos2">
                            <img class="pelis" src="/images/2012.jpg"> 
                            <div class="caja"><p class="nombre-peli">2012</p>
                            <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                            </article>

                            <article class="articulos2">
                                <img class="pelis" src="/images/smile.jpg"> 
                                <div class="caja"><p class="nombre-peli">Smile</p>
                                <a href="/productDetail" class="btn-neon">VER MAS</a></div>
                                </article> -->
                    </section>
    </main>

    <section class="frase">
        <div>Historias únicas, estrellas icónicas y mucho más..</div>
    </section>
    
    <%- include('partials/footer') %> 
</body>
</html>