<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="css/styles-home.css">
    <link rel="stylesheet" href="../css/buscarProductos.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/header') %>  

    <main>
    <div class="video">

    </div>
    <p class="titulos">Más Buscados</p>

    <section class="section-card">
        <% masBuscadas.forEach(element => { %>       
            <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
            <article class="card">
                <img class="img-pelicula" src="<%= element.imagen %> ">
                <h2 class="tituloPeli"><%= element.titulo %></h2>
                <!-- <h3 class="texto"><%= element.descripcion %></h3> -->
                <!-- <h3 class="texto"><%= element.precio %></h3> -->              
            </article>
            </a>
        <% }); %> 
    </section>
       
        <p class="titulos">Buscá por tus personajes favoritos</p>
        <section class="personajes">
        <article>
            <a href="/productDetail"><img class="personas" src="images/emiliaclarke.png">
            <p class="nombres">Emilia Clarke</p></a> 
        </article> 

        <article>
            <a href="/productDetail"><img class="personas" src="/images/robertdowneyjr.png">
            <p class="nombres">Robert Downey JR</p></a>
        </article>

        <article>
            <a href="/productDetail"><img class="personas" src="/images/galgadot.png">
            <p class="nombres">Gal Gadot</p></a> 
        </article>

        <article>
            <a href="/productDetail"><img class="personas" src="/images/sheeldoncooper.png">
            <p class="nombres">Jim Parsons</p></a>
        </article>
    </section>

    <p class="titulos">Recomendados Para Vos</p>
    <section class="section-card">
        <% recomendadas.forEach(element => { %>       
            <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
            <article class="card">
                <img class="img-pelicula" src="<%= element.imagen %> ">
                <h2 class="tituloPeli"><%= element.titulo %></h2>
                <!-- <h3 class="texto"><%= element.descripcion %></h3> -->
                <!-- <h3 class="texto"><%= element.precio %></h3> -->              
            </article>
            </a>
        <% }); %> 
    </section>

    <section class="frase">
        <div>Historias únicas, estrellas icónicas y mucho más..</div>
    </section>
    
    <%- include('partials/footer') %> 
</body>
</html>