<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="css/styles-home.css">
    <title>Home</title>
</head>
<body>
    <%- include('partials/header') %>  

    <main>
    <div class="video">

    </div>
    <p class="titulos">Más Buscados</p>

    <section class="section-card">
        <% masBuscadas.forEach(element => { %>       
            <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
            <article class="card">
                <img class="img-pelicula" src="<%= element.imagen %>">
                <h2 class="btn-neon"><%= element.titulo %></h2>         
            </article>
            </a>
        <% }); %> 
    </section>
       
    <p class="titulos">Buscá por tus personajes favoritos</p>
    <section class="personajes">
        <% listaPersonajes.forEach(element => { %>
            <article>
                <a href="/productDetail"><img class="personas" src="<%= element.image %>">
                <p class="nombres"><%= element.name %></p></a> 
            </article>
        <% }); %>  
    </section>

    <p class="titulos">Recomendados Para Vos</p>
    <section class="section-card">
        <% recomendadas.forEach(element => { %>       
            <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
            <article class="card">
                <img class="img-pelicula" src="<%= element.imagen %> ">
                <h2 class="btn-neon"><%= element.titulo %></h2>         
            </article>
            </a>
        <% }); %> 
    </section>

    <section class="frase">
        <div>Historias únicas, estrellas icónicas y mucho más..</div>
    </section>
    
    <%- include('partials/footer') %> 
</body>
</html>