<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="css/styles-home.css">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">    
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <%- include('partials/header') %>  

    <main>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init({
  duration: 1200,
});
        </script>

    <div data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center">
        <%- include('partials/bienvenida') %>
    </div>
    <div
    data-aos="fade-left"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center">

        <%- include('partials/paginacionMovies') %>
    </div>

    <p class="titulos" style="display: none;">Todas las pelis!!</p>

    <section class="section-card " style="display: none;">
        <!-- <div class="table-responsive">
            <table class="table" > -->
                <% movies.forEach(element=> { %>
                    <div>
                        <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
                            <article class="card-movie">
                                <img class="img-pelicula" src="<%= element.image_url %>">
                                <h2 class="btn-neon">
                                    <%= element.title %>
                                </h2>
                            </article>
                        </a>
                    </div>
                    <% }); %>
            <!-- </table>
        </div> -->
    </section>

    <p class="titulos">Más Buscados</p>

    <!-- section-card -->
    <section class="d-flex flex-row justify-content-start overflow-x-scroll flex-nowrap" 
    data-aos="fade-right"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center">
        <% masBuscadas2.forEach(element => { %>       
            <article class="card-movie">
                <img class="img-pelicula" src="<%= element.image_url %>">
                
                <a href="/products/productDetail?id=<%= element.id %> " class="botonVer"> <h2 class="btn-neon"><%= element.title %></h2>  </a>      
            </article>
            
        <% }); %> 
    </section>
       

    <p class="titulos">Recomendados Para Vos</p>
    <section class="section-card"
    data-aos="fade-left"
    data-aos-offset="100"
    data-aos-delay="50"
    data-aos-duration="500"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
    >
        <% moviesFavoriteGenre.forEach(element => { %>       
            <a href="/products/productDetail?id=<%= element.id %> " class="botonVer">
            <article class="card-movie">
                <img class="img-pelicula" src="<%= element.image_url %> ">
                <h2 class="btn-neon"><%= element.title %></h2>        
            </article>
            </a>
        <% }); %> 
    </section>

    <section class="frase">
        <div>Historias únicas, estrellas icónicas y mucho más..</div>
    </section>
   
   

    <%- include('partials/footer') %> 
</body>
</html>