<h1>listado de productos</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Blockbuster</title>
    <link rel="stylesheet" href="css/styles-home.css">
    <link rel="stylesheet" href="/css/administrarProductos.css">  
</head>
<body>
    
    <%- include('partials/header') %>  

    <% listaPeliculas.forEach(element => { %>

        

        <article class="card">
            <img class="img-pelicula" src="<%= element.imagen %> ">
            <h2 class="tituloPeli"><%= element.titulo %></h2>
            <h3 class="texto"><%= element.descripcion %></h3>
            <h3 class="texto"><%= element.precio %></h3>
            <a href="/productDetail?<%= element.id %> " class="botonFormBusc">Ver</a>
        </article>
    <% }); %> 


    <%- include('partials/footer') %> 

</body>
</html>