<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('partials/head') %> 
    <title>BLOCKBUSTER</title>
    <link rel="stylesheet" href="../css/styles-login.css">
</head>
<body>
    <%- include('partials/header') %> 

    <main class="main-body">
        <article class="register">
            <form action="/users/login" method="POST">
                <div class="credenciales">
                    <h1 class="titulo">Iniciar sesión</h1>
                    <label for="email"></label>
                    <input id="email" class="text-box" type="text" placeholder="E-mail" name="email" value="<%= locals.oldData ? oldData.email : null %>">
                    <div class="verificador errorEmail">
                        <% if (locals.errors && errors.email) { %>
                            <%= errors.email.msg %>
                        <% } %>
                    </div>
                    <label for="password"></label>
                    <input id="password" class="text-box" type="password" placeholder="Contraseña" name="password" required>
                    <div class="verificador errorPassword"></div>

                </div>
                    
                        
                <label class="lista-recordar"><input class="lista-recordar" type="checkbox" name="remember_user" value="recordarme">Recordarme</label><br>
                        
                <!-- <a href="/home" class="btn-neon">Ingresar</a> -->
                   <!-- <input type="button" class="btn-neon" value="Ingresar">  -->
                   <button type="submit" class="btn-neon">Ingresar</button>
                </form>

                <div class="olvidaste">
                    <a class="barra2" href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div id="boton-loguearse-google">
                    <%- include('partials/AuthGoogle') %>
                </div>


                <div class="cliente">
                    <a class="barra2" href="/register">¿No sos cliente?</a>
                </div> 

                <a href="/register" class="btn-neon">Registrarme</a>
            
        </article>
    </main>

    <section class="section-sector">
        <div class="sector">Donde quieras, cuando quieras</div>
    </section>

    <script src="/js/validateLogin.js"></script>
    <%- include('partials/footer') %>   
</body>
</html>