<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Detalle de producto</title>
    <link href="../css/detalle-producto.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <%- include('partials/header') %>  

        <!-- <div class="main-header logo">
            <img src="/images/blockbuster-logo.svg" class="logo-header">
        </div>

        <nav class="main-header navegador celular izquierda">
            <a href="#" class="burger-menu">
                <i class="fa-sharp fa-solid fa-bars"></i>  
            </a>
        </nav>

        <nav class="main-header navegador celular derecha">
            <ul>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></i></li>
                <li><a href="#"><i class="fa-solid fa-circle-user"></i></a></li>
            </ul>             
        </nav>
                           
        <nav class="main-header navegador tablet-pc izquierda">
            <ul>
                <li><a href="#"></a>BUSCAR</li>
                <li><a href="#"></a>LISTA DE DESEOS</li>
            </ul>
        </nav>
        <nav class="main-header navegador tablet-pc derecha">
        <ul>
            <li><a href="#"></a>MIS ALQUILERES</li>
            <li><a href="#">CARRITO</a></li>
            <li><a href="#">U</a></li>
        </ul> 
            
        </nav> -->
    </header>
    
    <main>

        <h2 class="titulo">
            <%= listaPeliculas[id-1].titulo %> 
        </h2>

        <section class="xxxx">

            <div class="bloque1">
                <div class="div-imagen">
                    <img class="imagen" src="<%= listaPeliculas[id-1].imagen%> ">
                </div>
                <div class="caracteristicas">
                    <p>Idioma: <%= listaPeliculas[id-1].idioma%></p>
                    <p>Duracion: <%= listaPeliculas[id-1].duracion%></p>
                    <p>Año: <%= listaPeliculas[id-1].año%></p>
                    <p>Genero: <%= listaPeliculas[id-1].genero%></p>
                </div>
            </div>

            <div class="bloque2">
                
                <div class="sinopsis">
                    <%= listaPeliculas[id-1].descripcion %>
                </div>
                <iframe class="trailer" width="100%" height="350" src="<%= listaPeliculas[id-1].trailer %> " title="YouTube video player" frameborder="0" ></iframe>
                <div class="botones">
                    <!-- <div class="boton trailer">
                        <a href="#">Ver trailer</a>
                    </div> -->
                    <div class="boton alquiler">
                        <a href="/carrito/<%= listaPeliculas[id-1].id%>">Alquilar/Ver</a>   
                    </div>
                </div>
            </div>

            <div class="bloque3">
                <div class="calificaciones">
                    <ul></a>
                        <li><a class="botonNav" href="/products/productDetail?id=<%= anterior %> "> <= Anterior </a>    <a class="botonNav" href="/products/productDetail?id=<%= siguiente %>"> Siguiente =></a></li>
                        <li><a href="#">Calificación Blockbuster</a><div class="calificacion"><%= listaPeliculas[id-1].CalificacionBlockbuster %></div></li>
                        <li><a href="#">Calificación IMDb</a> <div class="calificacion"><%= listaPeliculas[id-1].CalificacionIMDb %></div></li>
                        <li><a href="#">Calificación Rotten Tomatoes </a><div class="calificacion"><%= listaPeliculas[id-1].CalificacionRottenTomatoes %></div></li>
                        <li><a class="botonNav" href="#"> <i class="fa-solid fa-heart-circle-plus"></i> Agregar a Mis Deseos</a></li>
                        <li><a class="botonNav" href="#"> <i class="fa-solid fa-cart-plus"></i> Agregar al Carrito</a></li>
                    </ul>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <%- include('partials/footer') %> 

        <!-- <nav class="col-footer col1">
            <ul>
                <li><a href="#"></a>Ayuda</li>
                <li><a href="#"></a>Soporte</li>
            </ul>
        </nav>
        <nav class="col-footer col2">
            <ul>
                <li><a href="#"></a>Política y Privacidad</li>
                <li><a href="#"></a>Cantactanos</li>
            </ul>
        </nav>
        <nav class="col-footer col3">
            <p>Seguinos</p>
            <ul class="redes-sociales">
                <li><a href="#"></a><i class="fab fa-instagram"></i></li>
                <li><a href="#"></a><i class="fab fa-twitter"></i></li>
                <li><a href="#"></a><i class="fab fa-facebook-square"></i></li>            
            </ul>
        </nav> -->
    </footer>
    
</body>
</html>