<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Detalle de producto</title>
    <link href="../css/detalle-producto.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <%- include('partials/header') %>  

    </header>
    
    <main>

        <h2 class="titulo">
            <%= movie.title %> 
        </h2>

        <section class="xxxx">

            <div class="bloque1">
                <div class="div-imagen">
                    <img class="imagen" src="<%= movie.image_url%>">
                </div>
                <div class="caracteristicas">
                    <p>Idioma/s: <ul><% movie.languages.forEach(element => { %>
                     <li><%= element.language %> </li>
                    <% }) %></ul></p>

                    <p>Duracion: <%= movie.length %></p>
                    <p>A침o: <%= movie.release_year %></p>
                    <p>Generos: <ul><% movie.genres.forEach(element => { %>
                        <li><%= element.genre %> </li>
                       <% }) %></ul></p>
                </div>
            </div>

            <div class="bloque2">
                
                <div class="sinopsis">
                    <%= movie.description %>
                </div>
                <iframe class="trailer" width="100%" height="350" src="<%= movie.trailer %> " title="YouTube video player" frameborder="0" ></iframe>
                <div class="botones">
                    <%- include('partials/ventanaEmergente1') %> 
                </div>
            </div>

            <div class="bloque3">
                <div class="calificaciones">
                    <ul>
                        <li><a class="botonNav" href="/products/productDetail?id=<%= anterior %> "> <= Anterior </a>    <a class="botonNav" href="/products/productDetail?id=<%= siguiente %>"> Siguiente =></a></li>

                        <li><a href="#">Calificaci칩n Blockbuster</a><div class="calificacion"><%= movie.blockbuster_rating %></div></li>
                        <li><a href="#">Calificaci칩n IMDb</a> <div class="calificacion"><%= movie.imdb_rating %></div></li>
                        <li><a href="#">Calificaci칩n Rotten Tomatoes </a><div class="calificacion"><%= movie.rotten_tomatoes_rating %></div></li>

                        <li><form action="/users/wishes/add/<%= user.id %>/<%= movie.id %>/" method="post"><button type="submit" class="botonNav2"><i class="fa-solid fa-heart-circle-plus"></i> Agregar a Mis Deseos</button></form></li>
                        <li><form action="/users/wishes/delete/<%= user.id %>/<%= movie.id %>/" method="post"><button type="submit" class="botonNav2"><i class="fa-solid fa-heart-circle-minus"></i> Quitar de Mis Deseos</button></form></li>

                        <li><form action="/users/cart/add/<%= user.id %>/<%= movie.id %>/" method="post"><button type="submit" class="botonNav2"><i class="fa-solid fa-cart-plus"></i> Agregar al Carrito</button></form></li>
                        <li><form action="/users/cart/delete/<%= user.id %>/<%= movie.id %>/" method="post"><button type="submit" class="botonNav2"><i class="fa-solid fa-trash"></i> Quitar del carrito</button></form></li>
                    </ul>
                </div>
            </div>

        </section>
    </main>

    <footer>
        <%- include('partials/footer') %> 
    </footer>
    
</body>
</html>