<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>BLOCKBUSTER</title>
    <!-- <link rel="stylesheet" href="css/styles-home.css"> -->
    <link rel="stylesheet" href="/css/styles-register.css">
    <script src="/public/js/validateRegister.js"></script>
</head>
<body>
    <%- include('partials/header') %> 

    <main>
        <div class="div-registro">
            <h2 class="registrate">Registrate</h2>
        
            <form class="form-registro" action="/users/guardarRegistro" method="POST" enctype="multipart/form-data">
                <article>
                    <label class="label-form" for="name">Nombre y Apellido</label> <br>
                    <input type="text" name="name" id="name" placeholder="Nombre y Apellido"  value="<%= locals.oldData ? oldData.name : null %>">
                    <br>
                    <div class="error_name"></div>
                    <!-- <span class="feedback verificador">Este campo no puede estar vacio</span> -->
                    <% if (locals.errors && errors.name) { %>
                        <div class=" verificador"> <%= errors.name.msg %></div>
                    <% } %>
                </article>
                <article>
                    <label class="label-form" for="usuario">Nombre de Usuario</label> <br>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario"  value="<%= locals.oldData ? oldData.usuario : null %>">
                    <br>
                    <div class="error_user"></div>
                    <!-- <span class="feedback verificador">Minimo 5 caracteres</span> -->
                    <% if (locals.errors && errors.usuario) { %>
                        <div class=" verificador"> <%= errors.usuario.msg %></div>
                    <% } %>
                </article>
                <article>
                    <label  class="label-form" for="email">Email</label> <br>
                    <input type="email" name="email" id="email"  placeholder="name@blockbuster.com"  value="<%= locals.oldData ? oldData.email : null %>">
                    <br>
                    <!-- <span class="feedback verificador">name@blockbuster.com</span> -->
                    <% if (locals.errors && errors.email) { %>
                        <div class=" verificador"> <%= errors.email.msg %></div>
                    <% } %>
                </article>
                <article>
                    <label  class="label-form" for="password">Contraseña</label> <br>
                    <input type="password" name="password" id="password" placeholder="Contraseña" >
                    <br>
                    <!-- <span class="feedback verificador">Minimo 6 caracteres</span> -->
                    <% if (locals.errors && errors.password) { %>
                        <div class=" verificador"> <%= errors.password.msg %></div>
                    <% } %>
                </article>
                <article>
                    <label  class="label-form" for="id_favorite_genre">Genero de pelicula Favorito</label> <br>
                    <!-- <input type="password" name="id_favorite_genre" id="id_favorite_genre" placeholder="Contraseña" > -->
                    <select name="id_favorite_genre" id="id_favorite_genre">
                        <option value="0" selected disabled>seleccionar</option>
                        <% genres.forEach(element => { %>
                            <option value="<%= element.id %>"><%= element.genre %> </option>
                        <% }) %>
                    </select>
                    
                    
                </article>

                <div class="iconos-foto-google">
                    <div class="div-subir-foto">
                        <div class="image-upload">
                            <label for="file-input" class="div-subir-foto">
                                <p>Subir foto</p>
                                
                                <i class="fa-solid fa-user"></i>
                            </label>
                            <input id="file-input" name="imageUser" type="file" />
                        </div>
                    </div>
                    

                    <div class="div-google">
                        <p>Continuar con Google</p>
                        <img src="/images/logo-google.jpeg" alt="logo-google" class="logo-google">
                    </div>
                </div>
                <% if (locals.errors && errors.imageUser) { %>
                    <div class=" verificador"> <%= errors.imageUser.msg %></div>
                <% } %>
                <br><br>
                <div class="div-boton-crear-cuenta">
                    <button type="submit" id="crear-cuenta">Crear Cuenta</button>
                </div>
            </form>
            <form action="/login" method="GET">
                <div class="div-ingresar">
                    <label class="yaSosCliente" for="ingresar">Ya sos cliente?</label><br>
                    <button type="submit"  id="ingresar">Ingresar</button>
                </div>
            </form>
            
        </div>


        <!-- <section class="video-intro">
            <video  controls muted width="80%" height="400px" autoplay >
                <source src="/images/videoIntro.mp4"  type="video/mp4">
                no es compatible
            </video>
        </section> -->


        <section class="section-sector">
            <div class="sector">Donde quieras, cuando quieras</div>
        </section>

    </main>

    <%- include('partials/footer') %>  
</body>
</html>