
<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<%- include('partials/head') %> 

</head>
<%- include('partials/header') %> 
<style>
h1{
    color: white;
    margin-top: 20px;
}
form{
    margin: 30px auto
}
label{
    color: white;
}
</style>

<body class="container mt-3">

<% if (messages.error) { %>
<p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
<p id="mensajeExito" style="color:green"><%- messages.success %></p>
<% } %>

<h1 class="mb-3"><%= title %></h1>

<% if (!locals.token && !messages.success) { %>
<form action="/users/forgotPassword-sendEmail" method="post" name="form1">
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" value="">
</div>
<input type="submit" class="btn btn-primary" value="Enviar Codigo de verificación">
</form>
<% } %>

<% if (locals.token && !messages.success) { %>
<form action="/users/updatePassword" method="post" name="form1">
<input type="hidden" name="token" class="form-control" value="<%= token %>">
<div class="form-group">
<label for="password">Password</label>
<input type="password" name="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Ingrese su nueva contraseña" value="">
</div>
<input type="submit" class="btn btn-primary" value="Actualizar contraseña">
</form>
<% } %>
<%- include('partials/footer') %> 

</body>
</html>