<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Carrito</title>
    <link href="../../css/detalle-producto.css" rel="stylesheet"> 

    <!-- <link rel="stylesheet" href="/css/styles-carrito.css"> -->
</head>
<body>
    <%- include('partials/header') %> 
  
<main>
    <h1 class="titulo"><%= listaPeliculas[idProducto-1].titulo %></h1>
    <p class="sinopsis"><%= listaPeliculas[idProducto-1].descripcion %></p>

    <div class="div-trailer">
        <iframe class="trailer" width="100%" height="500px" src="<%= listaPeliculas[idProducto-1].trailer %> " title="YouTube video player" frameborder="0" ></iframe>
    </div>

</main>
      
    <%- include('partials/footer') %> 
</body>
</html>