<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Editar Perfil Usuario: <%= user.name %></title>
    <link rel="stylesheet" href="/css/users.css">

</head>
<body>
    <%- include('../partials/header') %>

    <main>

        <h1>Editar perfil del usuario:</h1>
    
    <section class="section-editar-user">
        <form action="/users/editarPerfil/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <% if (locals.errors) { %>
                <div class=" verificador"> <%= errors.password.msg %></div>
            <% } %>          
            <div class="info-perfil">
                <label for="email">e-mail:</label>
                <input type="email" name="email" id="email" value="<%= user.email %>">
                <br>
                <div class="error_email"></div>
            </div>
            <div class="info-perfil">
                <label for="name">Nombre y apellido:</label>
                <input type="text" name="name" id="name" value="<%= user.name %>">
                <br>
                <div class="error_name"></div>
            </div>
            <div class="info-perfil">
                <label for="usuario">Usuario:</label>
                <input type="text" name="username" id="usuario" value="<%= user.username %>">
                <br>
                <div class="error_user"></div>
            </div>
            <div class="info-perfil">
                <label for="usuario">Contraseña Actual:</label>
                <input type="password" name="password" id="password"  placeholder="*******">
            </div>
            <div class="info-perfil">
                <label for="usuario">Contraseña Nueva:</label>
                <input type="password" name="newPassword" id="newPassword">
            </div>
                <br>
                <div class="error_password">
                    <ul>
                        <li class="cantidad"></li>
                        <li class="mayusculas"></li>
                        <li class="minusculas"></li>
                        <li class="numeros"></li>
                        <li class="caracteres"></li>
                    </ul>
            </div>
              
            <div class="info-perfil">
                <div class="image-upload">
                    <label for="file-input" class="div-subir-foto">
                        <p>Subir foto</p>
                    </label>
                    <input id="file-input" name="imageUser" type="file" />
                    <input type="hidden" name="imagenAnterior" value="<%= user.image_url %>">
                </div>
                
                <div class="div-img">
                    <img src="/images/users/<%= user.image_url %>" alt="img">
                    <img id="imgPreview" >

                </div>
            </div>

            <div>
            <article>
                <label  class="label-form" for="id_favorite_genre">Genero de pelicula Favorito</label> <br>
                <!-- <input type="password" name="id_favorite_genre" id="id_favorite_genre" placeholder="Contraseña" > -->
                <select name="id_favorite_genre" id="id_favorite_genre">
                    <option value="0">seleccionar</option>
                    <% genres.forEach(element => { %>
                        <option value="<%= element.id %>"
                            <%= user.id_favorite_genre == element.id ? 'selected' : null %> 
                            ><%= element.genre %></option>
                    <% }) %>
                </select>
            </div>   
            </article>
            <div class="botones">
                <h2 class="button"><a href="/users/perfil">Volver</a></h2>
                <!-- Hacer boton de actualizar datos de usuario -->
                <button class="boton-guardar" type="submit">Guardar</button>
            </div>
            
        </form>
    </section>
    </main>
    <%- include('../partials/footer') %> 
    <script src="/js/validatePerfilUser.js"></script>
</body>
</html>