<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Editar Perfil Usuario: </title>
    <link rel="stylesheet" href="../../css/users.css">

</head>
<body>
    <%- include('../partials/header') %> 
    
    <main>
        <form action="/guardarEdicionUser" method="POST">
            <h4>Email:  <%= user.email %></h4>
            <div>
            <label for="name">Nombre y Apellido</label>
            <input type="text" name="name" id="" value="<%= user.name %> "></div>
            <div><label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="" value="<%= user.usuario %> "></div>
            
            <input type="text" name="password" id="" value="" placeholder="password anterior">
            <div>
            <input type="text" name="newPassword" id="" value="" placeholder="Nueva contraseña">
            <input type="text" name="password" id="" value="" placeholder="Repita Nueva contraseña">
        </div>
            <button type="submit">Guardar</button>
        </form>
    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>