<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Editar Perfil Usuario: <%= user.name %></title>
    <link rel="stylesheet" href="../../css/users.css">

</head>
<body>
    <%- include('../partials/header') %>

    <main>

        <h1>Editar perfil del usuario:</h1>
    
    <section class="section-editar-user">
        <form action="/users/editarPerfil/<%=user.id%>?_method=PUT" method="POST" enctype="multipart/form-data">        
            <div class="info-perfil">
                <label for="email">e-mail:</label>
                <input type="email" name="email"  value="<%= user.email %> ">
            </div>
            <div class="info-perfil">
                <label for="name">Nombre y apellido:</label>
                <input type="text" name="name"  value="<%= user.name %> ">
            </div>
            <div class="info-perfil">
                <label for="usuario">Usuario:</label>
                <input type="text" name="username"  value="<%= user.username %> ">
            </div>
            <div class="info-perfil">
                <label for="usuario">Contrase単a Actual:</label>
                <input type="password" name="password"   placeholder="*******" required>
            </div>
            <div class="info-perfil">
                <label for="usuario">Contrase単a Nueva:</label>
                <input type="password" name="newPassword"   placeholder="Nueva contrase単a" required>
            </div>
              
            <div class="info-perfil">
                <div class="image-upload">
                    <label for="file-input" class="div-subir-foto">
                        <p>Subir foto</p>
                    </label>
                    <input id="file-input" name="imageUser" type="file" />
                </div>
                
                <div class="div-img">
                    <img src="/images/users/<%= user.image_url %>" alt="img">
                </div>
            </div>

            <div>
            <article>
                <label  class="label-form" for="id_favorite_genre">Genero de pelicula Favorito</label> <br>
                <!-- <input type="password" name="id_favorite_genre" id="id_favorite_genre" placeholder="Contrase単a" > -->
                <select name="id_favorite_genre" id="id_favorite_genre">
                    <option value="0">seleccionar</option>
                    <% genres.forEach(element => { %>
                        <option value="<%= element.id %>"
                            <%= user.id_favorite_genre == element.id ? 'selected' : null %> 
                            ><%= element.genre %></option>
                    <% }) %>
                </select>
            </div> 
                
            </article>
            <div class="botones">
                <h2 class="button"><a href="/users/perfil">Volver</a></h2>
                <!-- Hacer boton de actualizar datos de usuario -->
                <button type="submit">
                    <h2 class="button">Guardar</h2>
                </button>
            </div>
            
        </form>
    </section>
    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>