<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Editar Perfil Usuario: </title>
    <link rel="stylesheet" href="../../css/users.css">

</head>
<body>
    <%- include('../partials/header') %> 
    
    <main>
        <form action="/guardarEdicionUser" method="POST">
            <input type="text" name="name" id="" value="<%= listaUsers[0].name %> ">
            <input type="text" name="usuario" id="" value="<%= listaUsers[0].usuario %> ">
            <input type="text" name="email" id="" value="<%= listaUsers[0].email %> ">
            <input type="text" name="password" id="" value="<%= listaUsers[0].password %> ">
            <button type="submit">Guardar</button>
        </form>
    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>