<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="../../css/users.css">
    <title>Editar Perfil Usuario: <%= userToEdit.name %></title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>

        <h1>Editar perfil del usuario:</h1>
    
    <section>
        <form action="/users/editarUsuario/<%=userToEdit.id%>?_method=PUT" method="POST">
            <div class="info-perfil">
                <label for="email">e-mail:</label>
                <input type="email" name="email" id="" value="<%= userToEdit.email %> ">
            </div>
            <div class="info-perfil">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="" value="<%= userToEdit.name %> ">
            </div>
            <div class="info-perfil">
                <label for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="" value="<%= userToEdit.usuario %> ">
            </div>
            <div class="info-perfil">
                <label for="usuario">Contraseña Nueva:</label>
                <input type="password" name="password" id="" value="" placeholder="Nueva contraseña">
            </div>
            <div class="info-perfil">
                <label for="usuario">Categoria:</label>
                <input type="text" name="category" id="" value="<%= userToEdit.category %> ">
            </div>
                         
            <div class="botones">
                <h2 class="button"><a href="/users/listaUsuarios">Volver</a></h2>
                <button type="submit" class="button">Guardar</button>
            </div>
            
        </form>
    </section>
    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>