<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="../../css/users.css">
    <title>Editar Perfil Usuario: <%= userToEdit.name %></title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>

        <h1>Editar perfil del usuario:</h1>
    
    <section>
        <form action="/users/editarUsuario/<%=userToEdit.id%>?_method=PUT" method="POST">
            <div class="info-perfil">
                <label for="email">e-mail:</label>
                <input type="email" name="email" id="" value="<%= userToEdit.email %>">
            </div>
            <div class="info-perfil">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="" value="<%= userToEdit.name %>">
            </div>
            <div class="info-perfil">
                <label for="usuario">Usuario:</label>
                <input type="text" name="username" id="" value="<%= userToEdit.username %>">
            </div>
            <div class="info-perfil">
                <label for="usuario">Contraseña Nueva:</label>
                <input type="password" name="password" id="newPassword" value="">
            </div>
            <div class="info-perfil">
                <label for="usuario">Categoría actual:</label>
                <% if(userToEdit.is_admin == 1) { %>
                    <label for="usuario">Administrador</label>
                <% } else { %>
                    <label for="usuario">Visitante</label>
                <% } %>             
            </div>
            <div class="info-perfil">
                <label for="usuario">Cambiar categoría:</label>
                <% if(userToEdit.is_admin == 1) { %>
                    <input type="radio" name="is_admin" id="" value="1" checked> Administrador
                    <input type="radio" name="is_admin" id="" value="0"> Visitante 
                <% } else {%>  
             
                    <input type="radio" name="is_admin" id="" value="1"> Administrador
                    <input type="radio" name="is_admin" id="" value="0" checked> Visitante 
                <% } %>
            </div>
            <div class="info-perfil">
                <label for="usuario">Actividad:</label>
                <% if(userToEdit.is_active == 1) { %>
                    <input type="radio" name="is_active" id="" value="1" checked> Activo
                    <input type="radio" name="is_active" id="" value="0"> Inactivo 
                <% } else {%>       
                    <input type="radio" name="is_active" id="" value="1"> Activo
                    <input type="radio" name="is_active" id="" value="0" checked> Inactivo
                <% } %>
            </div>
                         
            <div class="botones">
                <h2 class="button"><a href="/users/listaUsuarios">Volver</a></h2>
                <h2 class="button"><a href="/users/eliminarUsuario/<%= userToEdit.id %>">Eliminar cuenta</a></h2>
                <button type="submit" class="save-button">Guardar</button>
            </div>
            
        </form>
    </section>
    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>