<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Lista de Usuarios </title>
    <link rel="stylesheet" href="../../css/users.css">

</head>
<body>
    <%- include('../partials/header') %> 
   
<main>

    <%- include('../partials/headerAdmin') %>  


<section class="section-lista-usuarios">
<% users.forEach(element => { %>
    <ul>
        <li><%= element.id %></li><br>
        <li><%= element.name %></li><br>
        <li><%= element.username %></li><br>
        <li><%= element.email %> </li><br>
        <li><a href="/users/editarUsuario/<%= element.id %>" class="button">Editar</a></li>
    </ul>
<% }) %>
</section>
</main>
         
    <%- include('../partials/footer') %> 
</body>
</html>