<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Perfil Usuario: </title>
    <link rel="stylesheet" href="../../css/users.css">
</head>
<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h1>Perfil del usuario:</h1>
        

        <section >
            <div class="info-perfil">
            <h3>Nombre:</h3>
            <p> <%= user.name %></p>
            </div>
            <div class="info-perfil">
            <h3>Apellido:</h3>
            <p> <%= user.name %></p>
            </div>
            <div class="info-perfil">
            <h3>Usuario:</h3>
            <p><%= user.usuario %> </p>
            </div>
            <div class="info-perfil">
            <h3>Email:</h3>
            <p><%= user.email %> </p>
            </div>
            <div class="info-perfil">
            <h3>Categoría:</h3>
            <% if (user.categoria) { %>
                <p><%= user.categoria %> </p>
                <%} else { %>  
                <p>"sin categoría"</p>  
            <% } %>
            <p><%= user.categoria %> </p>
            </div>
            <div class="info-perfil">
            <h3>Imágen de perfil:</h3>
                <div class="div-img">
                    <img src="/images/users/<%= user.image %>" alt="img">
                </div>
            </div>
            
            <div class="botones">
                    <h2 class="button"><a href="/users/editarPerfil">Editar</a></h2>
                    <h2 class="button"><a href="/users/logout">Cerrar sesion</a></h2>
            </div>
        </section>


    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>