<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Perfil Usuario: </title>
    <link rel="stylesheet" href="../../css/styles-users.css">
</head>
<body>
    <%- include('../partials/header') %> 
    
    <main>
    <h1 class = "welcome">Bienvenido, <%= user.name %> </h1>
    <section class="main-info">
        <article class="info-perfil">
            <p>Nombre y apellido: <%= user.name %></p>
            <p>Usuario: <%= user.username %></p>
            <p>Email: <%= user.email %></p>
            <p>Categoría:
            <% if (user.is_admin == 1) { %>
                Administrador
                <%} else { %>  
                Visitante
            <% } %>
            </p>
            <p>Imágen de perfil:</p>
            <div class="div-img">
                <img src="/images/users/<%= user.image_url%>" alt="img">
            </div>
            <div class="buttons">
                <a href="/users/editarPerfil" class="button">Editar</a>
                <a href="/users/logout" class="button">Cerrar sesion</a>
            </div>
        </article>
    </section>
    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>