<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Perfil Usuario: </title>
    <link rel="stylesheet" href="../../css/users.css">
</head>
<body>
    <%- include('../partials/header') %> 
    
    <main>
        <h2>Perfil Usuario</h2>
        

        <section >
            <h3>Nombre: <%= user.name %> </h3>
            <h3>Usuario: <%= user.usuario %> </h3>
            <h3>Email: <%= user.email %> </h3>
            <h3> <%= user.category == "admin"? 'Categoria: ' +user.category : null%> </h3>
            <div class="div-img">
                <img src="/images/users/<%= user.image %>" alt="img">
            </div>
        </section>


        <h3><a href="/users/logout">Cerrar sesion</a></h3>
        <h3><a href="/users/editarPerfil">Editar Mis Datos</a></h3>

        

    </main>
      
    <%- include('../partials/footer') %> 
</body>
</html>